<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Import CSS -->
    <link rel="stylesheet" href="../../public/login.css">

</head>
<body>

<div class="login-box">
    <h1>Login</h1>
    <form id="login" action="/login-list" method="GET">
    <div class="textbox">
        <input type="text" placeholder="Benutzername" name="Lname">
    </div>
    <div class="textbox">
        <input type="password" placeholder="Passwort" name="Lpw">
    </div>

    <a href="/login-list"><button class="btn" type="submit" id="butt">Einlogen</button></a>
</form>
</div>

</body>
</html>